<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies autocomplete</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎬</text></svg>">
    <link href="http://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Search movie 🎬</h1>
        <div class="autocomplete-container">
            <input id="autocompleteInput" class="autocomplete-input">
            <div id="optionsContainer" class="options-container">
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>